*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 1024px;
    height: 800px;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
}
span{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5px;
}

